*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.chessboard .chessboard__table {
  margin: 0 auto;
  width: 50vw;
  height: 50vw; }

.chessboard .chessboard__row {
  width: 100%;
  height: 12.5%; }

.chessboard .chessboard__cell {
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  width: 12.5%; }
  .chessboard .chessboard__cell.chessboard__cell--black {
    background-color: black; }
  .chessboard .chessboard__cell.chessboard__cell--shadow {
    box-shadow: 4px 4px 4px blue inset, -4px -4px 4px blue inset; }
